h1,
.ablumtitle {
    font-family: 'Metal Mania';
    font-size: 30px;
}

.ablumtitle {}

.container {
    display: flex;
    flex-wrap: flex-end;
    padding: 30px;
    margin: 20px;
    height: 400px;
    width: 400px;
    justify-content: center;
    column-count: 3;
}

ul {
    list-style: none;
}

#EJM {
    color: grey;
    border: 3px solid red;
}

body {
    background-image: url(img/2687.png);
    color: rgb(40, 21, 163);
}

#IE {
    background-image: url(img/iced_earth.jpg);
    color: darkred;
    width: 20%;
    padding: 10px;
}

#NOTS {
    background-image: url(img/Night_of_the_Stormrider_cover.jpg);
    color: darkred;
    width: 20%;
    padding: 10px;
}

#BO {
    background-image: url(img/174.jpg);
    width: 20%;
    padding: 10px;
}

#DS {
    background-image: url(img/the_dark_sage.jpg);
    width: 20%;
    padding: 10px;
}

#SWTWC {
    background-image: url();
    width: 20%;
    padding: 10px;
}

#HS {
    background-image: url();
    width: 20%;
    padding: 10px;
}

#GB {
    background-image: url();
    width: 20%;
    padding: 10px;
}

#FASW {
    background-image: url();
    width: 20%;
    padding: 10px;
}

#COMSW {
    background-image: url();
    width: 20%;
    padding: 10px;
}

#dystopia {
    background-image: url();
    width: 20%;
    padding: 10px;
}

#POB {
    background-image: url();
    width: 20%;
    padding: 10px;
}

#incorruptible {
    background-image: url();
    width: 20%;
    padding: 10px;
}