h1,
.ablumtitle {
    font-family: 'Metal Mania', Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.ablumtitle {}

.container {
    display: flex;
    flex-wrap: flex-end;
}

ul {
    list-style: none;
}

#EJM {
    color: grey;
    border: 3px solid red;
}

body {
    background-image: url(img/2687.png);
    color: rgb(40, 21, 163);
}

#IE {
    background-image: url(img/Iced_Earth_1990.jpeg);
    color: darkred;
    width: 20%;
    padding: 10px;
}

#NOTS {
    background-image: url(img/Night_of_the_Stormrider_cover.jpg);
    color: darkred;
    width: 20%;
    padding: 10px;
}

#BO {
    background-image: url(img/174.jpg);
    width: 20%;
    padding: 10px;
}

#DS {
    background-image: url();
    width: 20 %;
}